/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


:root {
    --text-color: deepskyblue;
    --product-text-color: #df0000;
    --white: #f8f9fa;
}
.terminal-container {
    display: flex;
    justify-content: center;
}
.terminal {
    min-width: 72vw;
    min-height: 87vh;
    border: 4px #414f5c solid;
    border-radius: 9px;
    background-color: #495057;
    box-shadow: 0px 0px 16px 3px #729bc5;
    padding: 10px 10px;
}
    .terminal * {
        font-size: 21px;
    }
.terminal-modal {
    display: block;
    position: absolute;
    top: -81%;
    left: 50%;
    transform: translateX(-50%);
    background: blue;
    padding: 21px 30px;
    border-radius: 9px;
    min-width: 666px;
    min-height: 699px;
}
    .terminal-modal.visible {
        top: 13%;
        transition: top ease-in-out 0.5s;
    }
.terminal-modal__close-button {
    color: var(--white);
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 1px 8px;
    cursor: pointer;
    user-select: none;
}
.modal-text-color {
    color: var(--white);
}
.text-color {
    color: var(--text-color);
}
.product-text-color {
    color: var(--product-text-color);
}
.admin-terminal .welcome-title {
    margin-bottom: 126px;
}
.welcome-title {
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
    user-select: none;
}
.coins-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 66px;
    user-select: none;
}
.coins-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.reset-ul-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.admin-terminal .coins-list {
    margin-bottom: 18px;
}
.coins-list-item__container{
    display: flex;
    position:relative;
}
.coins-list-item__quantity {
    position: absolute;
    right: 9px;
    font-size: 26px;
    top: 3px;
}
.coins-list {
    display: flex;
}
.coins-list-item {
    cursor: pointer;
}
    .coins-list-item:hover {
        background: #dfdf00;
        color: #c35e17;
        border: 2px #d18700 solid;
    }
    .coins-list-item:active {
        background: #bfbf00;
        color: #9d490e;
        border: 2px #a36900 solid;
    }
    .coins-list-item.selected {
        background: #bfbf00;
        color: #9d490e;
        border: 2px #a36900 solid;
    }
.coins-list-item:not(:last-child) {
    margin-right: 42px;
}
.coin {
    background: yellow;
    display: block;
    border: 2px orange solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    color: chocolate;
    user-select: none;
}
.products-container {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.products-list{
    display:flex;
    flex-wrap:wrap;
    max-width: 961px;
}
.products-list-item {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid deepskyblue;
    background: deepskyblue;
    margin-bottom: 30px;
    padding-bottom: 3px;
    user-select: none;
}
    .products-list-item:not(:nth-child(4n)) {
        margin-right: 27px;
    }
    .products-list-item:hover {
        border: 5px solid #0099cd;
        background: #0099cd;
        box-shadow: 0px 0px 9px 1px #0080ab;
    }
    .products-list-item:active {
        border: 5px solid black;
        background: #0080ab;
        box-shadow: 0px 0px 9px 1px #0080ab;
    }
    .products-list-item.selected {
        border: 5px solid black;
        box-shadow: 0px 0px 9px 1px #0080ab;
        background: #0080ab;
    }
.products-list-item__image {
    width: 210px;
    max-height: 220px;
    margin-bottom: 3px;
}
.buttons {
    display: flex;
    float: right;
}
.buttons-list {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.interface-button {
    border: 3px solid #337cff;
    background: cornflowerblue;
    padding: 3px 6px;
    border-radius: 6px;
    color: floralwhite;
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px #337cff;
    user-select: none;
    display:none;
}
    .interface-button:hover {
        border: 3px solid #246ff5;
        box-shadow: 0px 0px 4px 1px #156afb;
        color: #e7d6b5;
        background: #3979ed;
    }
    .interface-button:active {
        border: 3px solid #0a53d5;
        box-shadow: 0px 0px 4px 1px #093fa1;
        color: #938469;
        background: #0f53cf;
    }
    .interface-button.active {
        border: 3px solid #0a53d5;
        box-shadow: 0px 0px 4px 1px #093fa1;
        color: #938469;
        background: #0f53cf;
    }
    .interface-button.visible{
        display: block;
    }
    .interface-button.blocked {
        cursor: not-allowed;
    }
.buttons-list-item {
    margin-left: 12px;
    margin-bottom: 6px;
}

.coins-buttons {
    display: flex;
    justify-content: center;
}
.coins-buttons-button {
    display: flex;
    justify-content: center;
    visibility: hidden;
}
    .coins-buttons-button:first-child {
        margin-right: 32px;
    }
    .coins-buttons-button.visible {
        visibility: visible;
    }